<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <a class="button is-primary" href="{{ route('people.index') }}">View people</a>
      <a class="button is-primary" href="{{ route('users.profile') }}">View profile</a>
    </div>
  </section>
</body>
</html>
